h1 Profile#show
p Find me in app/views/profile/show.html.slim

p = @user.name
p = @user.email
p = @profile.description
p = @profile.phone_number
p = @profile.address

- if @user.type == 'Admin'
  = link_to "Admin Dashboard", admin_dashboard_path
- elsif @user.type == 'Teacher'
  = link_to "Teacher Dashboard", teacher_dashboard_path
