h1 Welcome to Classroom #{@classroom.name}

ul.students
  - @students.each do |st|
    li = link_to "Student name: #{st.name}", st

p = link_to "Create Student Accounts", new_student_path
p = link_to "Change Classroom Ownership", edit_classroom_path
= link_to "Home", root_path