h1 Survey for All Teachers
= @all_teachers.name
iframe src="#{sanitize @all_teachers.link}" frameborder="0" width="960" height="400" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"
br
br

h1 Survey for Correctional Facility Tecahers
= @correctional_teacher.name
iframe src="#{sanitize @correctional_teacher.link}" frameborder="0" width="960" height="400" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"
br
br

h1 Survey for High School Tecahers
= @highschool_teacher.name
iframe src="#{sanitize @highschool_teacher.link}" frameborder="0" width="960" height="400" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"
br
br

p.nomar = link_to "Home", root_path
p = link_to "Logout", destroy_user_session_path, method: 'delete'
