h1 AdminDashboard#index
p Find me in app/views/admin_dashboard/index.html.slim
p = link_to "Home", root_path
p = link_to "Create Teacher Accounts", new_teacher_path
p = link_to "View Teachers", show_teachers_path
p = link_to "View Students", show_students_path
p = link_to "Logout", destroy_user_session_path, method: 'delete'
