<h1>Teachers</h1>

<table id="teachers" class="display" data-source="<%= show_teachers_url(format: "json") %>">
  <thead>
    <tr>
      <th>Teacher Email</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>


