h1 All Surveys

h1 Surveys for all Teachers
= link_to @all_teachers_surveys, @all_teachers_surveys.link
br
br

h1 Surveys for only Correctional Facility Teachers
= link_to @correctional_teachers_survey, @correctional_teachers_survey.link
br
br

h1 Surveys for only High School Teachers
= link_to @highschool_teachers_survey, @highschool_teachers_survey.link
br
br

h1 Surveys for only High School Students
= link_to @highschool_students_survey, @highschool_students_survey.link
br
br
