// These styles apply to the jQuery datatable on the students index.

// scss-lint:disable SelectorFormat
#students-table_wrapper {
  // Make add students button inline
  #add-students-button {
    float: left;
    text-align: left;
    width: 50%;
  }

  // Make search box a little nicer
  #students-table_filter {
    width: 50%;

    input {
      display: inline;
      width: 70%;
    }
  }
}
