// Styling for the Supplemental Material table on the manage page.
//
// We just need to make the first column of the table small to fit the draggable
// handle.

.sup-materials-table {
  .sup-materials-table--handle,
  .sup-materials-table--space {
    width: 8%;
  }

  .sup-materials-table--title {
    text-align: center;
    padding-top: 2em;
  }
}
