// Blatently taken from Github's settings page
.boxed-group {
  $border-color: #d8d8d8;
  $heading-bg-color: #f5f5f5;
  $danger-heading-bg-color: #df3e3e;
  $danger-heading-border-color: #a00;
  $danger-heading-text-shadow: #900;

  border-radius: 3px;
  margin-bottom: 30px;
  position: relative;

  h3 {
    background-color: $heading-bg-color;
    border: 1px solid $border-color;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    display: block;
    font-size: 1.5em;
    margin: 0;
    padding: 9px 10px 10px;
  }

  &.dangerzone > h3 {
    background-color: $danger-heading-bg-color;
    border: 1px solid $danger-heading-border-color;
    color: $white;
    text-shadow: 0 -1px 0 $danger-heading-text-shadow;
  }

  .boxed-group-inner {
    background: $white;
    border: 1px solid $border-color;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 30px 10px;

    p { margin: 0.5em 0; }
  }
}
