// http://refills.bourbon.io/#cards
.card {
  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border: $card-border;
  border-radius: $base-border-radius;
  box-shadow: $card-box-shadow;
  color: $base-font-color;
  cursor: pointer;
  display: block;
  height: $card-height;
  margin-bottom: $base-spacing;
  position: relative;

  @include media($large-screen) {
    @include span-columns(4);
    @include omega(3n);
  }

  .card-image {
    max-height: 150px;
    overflow: hidden;

    img {
      @include transition (all 0.2s ease-in-out);
      background: $card-image-background;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
    }
  }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    padding: $base-spacing/3 $gutter/2;
  }

  .card-copy {
    background-color: $card-background;
    font-size: 0.9em;
    // Add height for consistent height
    height: em(130px);
    line-height: 1.5em;
    padding: $base-spacing/2 $gutter/2;
  }

  .card-stats {
    background-color: $card-background;
    overflow: auto;
    padding: $base-spacing/2 $gutter/2;

    ul li {
      border-right: 1px solid transparentize($base-font-color, 0.8);
      color: $card-stats-color;
      display: inline;
      float: left;
      font-size: 1.2em;
      font-weight: 800;
      line-height: 1.1em;
      padding: 0 0.7em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: 0;
      }

      span {
        color: $base-font-color;
        display: block;
        font-size: 0.7em;
        font-weight: normal;

        &.label {
          color: $card-stats-color;
          display: inline;
          font-size: 1.2em;
          font-weight: 800;
          line-height: 1.1em;
        }
      }
    }
  }

  span.new-card-overlay {
    @include transition(all 0.2s ease-in-out);
    background-color: $card-placeholder-tint;
    color: $card-background;
    font-family: $header-font-family;
    font-size: 10em;
    font-weight: bold;
    height: 100%;
    left: 0;
    line-height: 2.2em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;

    &:hover { background-color: darken($card-placeholder-tint, 10); }
  }

  &:hover {
    background-color: $card-hover-background;

    .card-image img {
      background: $card-image-hover-background;
    }

    .card-header {
      background-color: $card-hover-background;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}
