/* Styling for cards.
   https://github.com/FezVrasta/bootstrap-material-design/blob/master/less/_cards.less */
.card {
  background-color: $card-background-color;
  box-shadow: $card-box-shadow;
  padding: $card-padding;
  border-radius: $card-border-radius;
}
