$pencil-icon-bg: $blue;
$survey-not-taken-icon-bg: #D6944D;
$survey-taken-icon-bg: $green;
$delete-icon-bg: $red;
$email-icon-bg: $medium-gray;

.actions {
  a {
    margin-right: 8px;
    &:last-child { margin-right: 0; }
  }
}

@mixin icon-colors($icon-bg, $icon-color: $white) {
  background-color: $icon-bg;
  color: $icon-color;

  &:hover {
    background-color: darken($icon-bg, 10);
    color: $icon-color;
  }
}

.icon {
  border-radius: $base-border-radius;
  display: inline-block;
  height: 24px;
  width: 24px;

  &.pencil-icon {
    @include icon-colors($pencil-icon-bg);
  }

  &.survey-not-taken-icon {
    @include icon-colors($survey-not-taken-icon-bg);
  }

  &.survey-taken-icon {
    @include icon-colors($survey-taken-icon-bg);
  }

  &.delete-icon {
    @include icon-colors($delete-icon-bg);
  }

  &.email-icon {
    @include icon-colors($email-icon-bg);
  }
}
