.actions {
  a {
    margin-right: 8px;
    &:last-child { margin-right: 0; }
  }
}

@mixin icon-colors($icon-bg, $icon-color) {
  background-color: $icon-bg;
  color: $icon-color;

  &:hover {
    background-color: darken($icon-bg, 10);
    color: $icon-color;
  }
}

.icon {
  border-radius: $base-border-radius;
  display: inline-block;
  height: 24px;
  width: 24px;

  &.pencil-icon {
    @include icon-colors($pencil-icon-bg, $pencil-icon-color);
  }

  &.delete-icon {
    @include icon-colors($delete-icon-bg, $delete-icon-color);
  }

  &.email-icon {
    @include icon-colors($email-icon-bg, $email-icon-color);
  }
}
