button, .button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button.small {
  padding: 0.5em .75em;
  background-color: $secondary-button-color;

  &:hover {
    background-color: $secondary-hover-button-color;
  }
}
