button,
.button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &.small {
    background-color: $small-button-color;
    padding: 0.5em 0.75em;

    &:hover {
      background-color: $small-hover-button-color;
    }
  }

  &.success {
    background-color: $success-button-color;

    &:hover {
      background-color: $success-hover-button-color;
    }
  }

  &.warning {
    background-color: $warning-button-color;

    &:hover {
      background-color: $warning-hover-button-color;
    }
  }

  &.danger {
    background-color: $danger-button-color;

    &:hover {
      background-color: $danger-hover-button-color;
    }
  }
}
