// Typography
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
$montserrat: 'Montserrat', $helvetica;
$varela: 'Varela Round', $helvetica;

$sans-serif: $varela;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: $montserrat;

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$blue: #477DCA;
$indigo: #2F399C;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;
$red: darken($light-red, 30);
$green: #609D18;
$yellow: #F0AD4E;

// Background Color
$bg-tint: rgba(28, 50, 80, 0.90);
$base-background-color: $bg-tint;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;
$small-button-color: $medium-gray;
$small-hover-button-color: darken($medium-gray, 15);
$success-button-color: $green;
$success-hover-button-color: darken($green, 15);
$warning-button-color: $yellow;
$warning-hover-button-color: darken($yellow, 15);

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;

// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

// Paper
$paper-background-color: white;
$paper-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
$paper-padding: 1.25em 1.25em;
$paper-border-radius: $base-border-radius;

// Cards
$card-border-color: $base-border-color;
$card-border: 0;
$card-background: lighten($card-border-color, 10);
$card-box-shadow: $paper-box-shadow;
$card-header-background: $card-background;
$card-height: em(380px);
$card-placeholder-tint: $base-background-color;
$card-hover-background: lighten($card-background, 5);
$card-image-background: #DBD199;
$card-image-hover-background: lighten($card-image-background, 5);
$card-stats-color: lighten($base-accent-color, 10);

// Button groups
$button-group-background: white;
$button-group-color: lighten($base-font-color, 30);
$button-group-border: 1px solid silver;
$button-group-inner-border: 1px solid lighten(silver, 18);
$button-group-background-checked: $base-accent-color;
$button-group-color-checked: white;
$button-group-border-checked: darken($button-group-background-checked, 15);

// Navigation
$navigation-padding: 1em;
$navigation-background: $dark-gray;
$navigation-color: transparentize(white, 0.3);
$navigation-color-hover: white;
$navigation-height: 60px;
$navigation-nav-button-background: $base-accent-color;
$navigation-nav-button-background-hover: lighten($navigation-background, 10);
$navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20);
$navigation-search-background: lighten($navigation-background, 5);
$navigation-search-border: 1px solid darken($navigation-background, 5);
$navigation-active-link-color: transparentize(white, 0.5);
$navigation-submenu-padding: 1em;
$navigation-submenu-width: 12em;
$horizontal-bar-mode: $large-screen;

// Icons
$delete-icon-bg: $red;
$delete-icon-color: white;
$email-icon-bg: $medium-gray;
$email-icon-color: white;
